<!DOCTYPE html>
<html>
<head>
  <title>htee</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">htee</a>
      </div>
      <div class="nav navbar-nav navbar-right">
        <%- if github_user -%>
        <div class="dropdown">
          <button class="btn navbar-btn btn-default dropdown-toggle" data-toggle="dropdown">
            <%= gravatar_image_tag(github_user.email) %>
            <%= github_user.name %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li class="divider"></li>
            <li>
              <%=link_to 'Sign out', logout_path %>
            </li>
          </ul>
        </div>
      <%- else -%>
        <div class="navbar-right">
          <%= link_to 'Sign in with GitHub', login_path, class: 'btn btn-success navbar-btn' %>
        </div>
      <%- end -%>

    </div>
  </div>

<%= yield %>

</body>
</html>
